!!!
%html{:lang => I18n.locale}
  %head
    %title
      = [(@page.nav_title unless @page.path.empty?), t(:site_title)].compact.join(' - ')
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %meta(charset="utf-8")/
    %link(rel="stylesheet" href="/assets/bootstrap.min.css")/
    %link(rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css")/
    %link(rel="stylesheet" href="/assets/style.css")/
    %script(src="/assets/js/jquery.min.js")
  %body
    %a.bm-masthead{:href => '/'}
    .bm-bar
      = t :site_title
    .bm-main.container
      = yield
    %footer
      %div
        (c) 2014-2020 LEAP Encryption Access Project
      %div
        Everything available for download on this site is free and open source software.
        %br
        Source code available from
        <a href="https://leap.se/git/">https://leap.se/git</a>
        or
        <a href="https://github.com/leapcode">https://github.com/leapcode</a>.
