- @title = 'home'

.row.bm-front-buttons
  .col-sm-3.col-xs-6
    %a.btn.btn-default{:href=>"/android"}
      %i.fa.fa-android.fa-4x
      %br
      %b Android
      %br
      %small 4.1 and above
  .col-sm-3.col-xs-6
    %a.btn.btn-default{:href=>"/linux"}
      %i.fa.fa-linux.fa-4x
      %br
      %b GNU/Linux
      %br
      %small Debian, Ubuntu, Mint, etc
  .col-sm-3.col-xs-6
    %a.btn.btn-default{:href=>"https://dl.bitmask.net/client/osx/stable/Bitmask-OSX-latest.pkg"}
      %i.fa.fa-apple.fa-4x
      %br
      %b Mac OS
      %br
      %small Bitmask-OSX-latest.pkg
  .col-sm-3.col-xs-6
    %a.btn.btn-default.disabled{:href=>"/windows"}
      %i.fa.fa-windows.fa-4x
      %br
      %b Windows
      %br
      %small Coming soon...
